html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

section {
    display: block;
	float: left;
    background: #CFF;
    height:auto;
    width:100%;
    padding: 60px;
    padding-left: 120px;
    box-sizing:border-box;

}


#main  {
	height:100%;
    width:100%;
	background-image: url("../../images/main_background4.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	z-index: 10;
}


#main .container .major {
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 11;
	
	
}

#main .container .major h1 {
	margin: 0;
	z-index: 11;
	color: #fff;
	font-size: 100px;
}

#main .container h3 {
	margin: 0;
	z-index: 11;
	color: #fff;
	text-align: center;
}


#one {
    background: #111816;
    color: #fff;
    font-size: 30px;
	float:  left;
}
#two {
    background: #123037;
    color: #fff;
    font-size: 30px;
	float:  left;
}
#three {
    background: #74BE98;
    font-size: 30px;
	float:  left;
}
#four {
    background: #BED28D;
    font-size: 30px;
}
#five {
    background: #95211D;
    color: #fff;
    font-size: 30px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: auto;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 55px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav-bar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	width: 50px;
	height: 50px;
	background-color: #fff;
	text-align: center;
	line-height: 50px;
}

#title-bar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	line-height: 50px;	
	padding-left: 10px;
	font-family: courier;
	font-style: italic;
	font-weight: bold;
}
